@*@Html.Partial("_HeaderPartial")
@Html.Partial("_MenuPartial")
<section class="Hui-article-box">
    <div class="Hui-article">
        <div class="cl pd-20">
            <div class="mt-20">
                <div id="content">
                </div>
            </div>
        </div>
    </div>
</section>*@
