@{
    ViewBag.Title = "联系";
}


<address>
    北京市<br />
    海淀区<br />
    <abbr title="Phone">P:</abbr>暂无
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:qctvip@vip.163.com">qctvip@vip.163.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:qctfm@foxmail.com">qctfm@foxmail.com</a>
</address>