<div class="fly-panel fly-signin">
    <div class="fly-panel-title">
        时光悄然
    </div>
    <div class="fly-panel-main">
        <span id="testView"></span>
        <div class="layui-inline" id="MyDate" style="width:100%;height:100%;text-align:center;"></div>
    </div>
</div>
