<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--判断是不是开发环境-->
  <add key="IsDebug" value="123"/>
  <!--数据库类型-->
  <add key="DataBaseType" value="SqlServer"/>
  <!--文章规则Url-->
  <!--
      黄帝内经素问 http://www.51xingjy.com/book/zhongyililun/hdnj/
      黄帝内经灵枢 http://www.51xingjy.com/book/zhongyililun/lingshu/
      -->
  <add key="artRuleUrl" value="http://www.51xingjy.com/book/zhongyililun/lingshu/"/>
  <!--链接规则-->
  <add key="hrefRegex" value="&lt;li&gt;&lt;a(.+?)href=\&quot;(.+?)\&quot;(.*?)&gt;(.+?)&lt;/a&gt;&lt;/li&gt;"/>
  <!--内容规则-->
  <add key="contentRegex" value="&lt;div id=\&quot;htmlContent\&quot; class=\&quot;contentbox\&quot;&gt;(.+?)&lt;/div&gt;"/>
  <!--黄帝内经链接规则：
      <li><a(.+?)href=\"(.+?)\"(.*?)>(.+?)</a></li>编码后&lt;li&gt;&lt;a(.+?)href=\&quot;(.+?)\&quot;(.*?)&gt;(.+?)&lt;/a&gt;&lt;/li&gt;
      黄帝内经内容规则：
      <div id=\"htmlContent\" class=\"contentbox\">(.+?)</div>编码后&lt;div id=\&quot;htmlContent\&quot; class=\&quot;contentbox\&quot;&gt;(.+?)&lt;/div&gt;
      -->
</appSettings>
