
@model IEnumerable<Model.T_Channels>
<div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
    <h3 class="fly-panel-title">文章分类</h3>
    @foreach (var item in Model)
    {
        <button class="layui-btn layui-btn-primary layui-btn-radius">@item.Name</button>
    }
</div>


