
@model IEnumerable<Model.T_Channels>
<div class="fly-panel-title fly-filter">
    @*@foreach (PersonalSite.Model.T_Channel item in Model)
        {
            @Html.ActionLink(item.Name, "Index", "Article", new { id = item.Id }, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "rowArts", LoadingElementDuration = 500 })
            <span class="fly-mid"></span>
        }*@
    <a href="" class="layui-this">综合</a>@*<span class="fly-mid"></span>*@
</div>